{% extends "bank_app/base.html" %}

{% block content %}
{% include 'header/customer_header.html' %}
<h2>Account details</h2>
<p>Account name: {{ account.name }}</p>
<p>Account balance: {{ account.balance }}</p>
<hr>
<h4>Movement history</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Text</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for movement in account.movements reversed %}
        <tr>
            <td>{{movement.text}}</td>
            <!-- redirect to customer account details -->
            <td>{{ movement.amount }}</td>
            <td>{{ movement.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}